.services-submenu {
  width: 18rem;
  position: absolute;
  top: 100%;
  list-style: none;
  text-align: start;
  right: 0;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 6px 0 #00000052;
  left: auto;border-radius: 6px;
}
.services-submenu li {

  cursor: pointer;
}

/* .services-submenu li a:hover {
  background: rgb(0, 175, 175);
} */

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
  position: absolute;
  top:100%
}
.services-submenu a {
  color: #000 !important;
  padding: 6px 6px 6px !important;
  display: block;
}
.container-fluid.bg-dark.text-light {
  position: absolute;
  right: 0;
  width: 16rem;
  top: 100%;
}

.notfication-icon{
  width: 40px;
  margin-right: 10px;
}
.notification-text{
  font-weight: 600;
}
