
body{
  font-family: 'Roboto Flex';
}




.login-left-content h5 {
   
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}

.login-left-content {
  padding: 0 10rem 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.login-left-content h2 {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 55.7746px;
  line-height: normal;
  color: #FFFFFF;
  /* height: 65px; */
  display: flex;
  line-height: normal;
}
.login-left-content h2 img {
  width: 65px;
  height: 65px;margin-right: 10px;
}

.login-bg {
  background-size: cover;
  background-position: 100% 63%;
}

.login-app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 10rem 0;
}
.header-welcome {
  
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  /* identical to box height */
  font-family: 'Nunito', sans-serif;

  margin-bottom: 16px;
  color: #FFFFFF;

  
  
}
 
.header2 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  margin-bottom: 74px;
}
.login-left-content {
  padding: 0 96px 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.formFieldInput {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.formField {
  margin-bottom: 27px;
}
.formField {
  margin-top: 21px;
}


.formFieldButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 149px;
  gap: 8px;
  width: 464px;
  height: 48px;
  background: #FFFFFF !important;
  border-radius: 8px;
  color: #000 !important;
  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #1B1C2D;
  font-family: 'Nunito', sans-serif;
}


.formField label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #E8E8E8;
  font-family: 'Nunito', sans-serif;
}

/***/
sapn.border.border-success.col.text-center.p-1.rounded-2.text-success {
  height: 70px;
  padding: 24px 40px !important;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

sapn.border.border-success.col.text-center.p-1.rounded-2.text-success svg {
  margin-right: 9px;
}
.Assessments-label{  font-family: 'Nunito', sans-serif;
  font-style: normal;
  
  color: #8A8A93;
  }
  .Assessments-labelValue{  font-family: 'Nunito', sans-serif;
    font-style: normal;
    
    color: #141415;
    }
    .Assess-label{  font-family: 'Nunito', sans-serif;
      font-style: normal;
      padding: 4px;
      color: #8A8A93;
      }
      .Assess-labelValue{  font-family: 'Nunito', sans-serif;
        font-style: normal;
        padding: 4px;
        color: #141415;
        }




        @media(min-width:1701px){
          .login-left-content h5 {
            font-size: 52px !important;
            line-height: normal !important;
        }
        }






        @media(max-width:1700px) and (min-width:1500px){
          .login-left-content h5 {
            font-size: 46px !important;
            line-height: normal !important;
        }
        }

        @media(max-width:1365px) and (min-width:1282px){
          .login-left-content h5 {
           
            font-size: 38px !important;
            line-height: normal !important;
             
        }
        }

        @media(max-width:1281px) and (min-width:1200px)
        {
          
          .login-left-content {
            padding: 0 48px 0 !important;
        }
        }

        @media(max-width:1199px) and (min-width:1025px){
          .login-left-content h5 {
           
            font-size: 28px !important;
            line-height: normal !important;
             
        }
        }

        
        @media(max-width:1024px) and (min-width:992px){
          .login-left-content h5 {
           
            font-size: 21px !important;
            line-height: normal !important;
             
        }
        }
        .accordion-title {
          padding: 8px 6px 8px;
          background: #000;
          color: #fff;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
      }
      .ddd{display: flex;
        flex-direction: row;
        align-items: center;
        line-height: normal;}
        .cont {
          text-align: left;
      }
      .cont small{
        display: block;
    }